<%- include('partials/header') %>
<div class="container" style="text-align:center;">
  <h2 style="color:green;">Payment Successful!</h2>
  <p>Thank you for your purchase, <%= user.firstName %>!</p>
  <a href="/shop" class="btn btn-success">Continue Shopping</a>
</div>
<%- include('partials/footer') %>